
$font-family-base: Tahoma, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif !default;
// $font-family-base: 'Microsoft Yahei' !default;
$font-size-base: 14px !default;
$line-height-base: 1.6 !default;
$text-color: #333 !default;
$body-bg: #ffffff !default;

// link
$link-color: #ff5507 !default;
$link-hover-color: #ff5507 !default;
$link-hover-decoration: none !default;

// button
$btn-font-weight: normal !default;
$btn-primary-bg: #ff5507 !default;
$btn-delete-bg: #db5858 !default;
$btn-primary-color: #fff !default;
$btn-primary-radius: 0px !default;
$btn-disabled-bg: #dedede !default;
$btn-disabled-color: #fff !default;
$btn-disabled-radius: 0px !default;
$btn-deny-color: #646464 !default;
$btn-deny-bg: #fff !default;
$btn-optional-color: #fff !default;
$btn-optional-bg: #58abef !default;

$btn-login-bg: #30373f !default;
