.input {
  @include inline-block;
  width: 220px;
  height: 38px;
  padding: 0 10px;
  line-height: 38px;
  border: 1px solid #c0c0c0;
  border-radius: 0px;
  &:focus {
    outline: 0 none;
  }
}

.select {
  @include inline-block;
  width: 100%;
  height: auto;
  border: 1px solid #c0c0c0;
  border-radius: 0px;
  &:focus {
    outline: 0 none;
  }
}

.fill-group {
  margin-bottom: 18px;
  font-size: 0;
  &.error-content {
    font-size: 14px;
    color: #ff5507;
  }
  &.single {
    .label {
      display: none;
    }
    .control {
      margin-left: 150px;
    }
  }
  &.inline {
    @include inline-block(top);
  }
  .required {
    position: relative;
    right: 3px;
    color: #fe1f22;
    vertical-align: middle;
  }
  .label {
    @include inline-block(top);
    width: 120px;
    margin-top: 8px;
    text-align: right;
    font-size: 16px;
  }
  .control {
    @include inline-block;
    margin-left: 30px;
    font-size: 14px;
  }
}

.agree {
  margin-bottom: 20px;
  text-align: center;
}

.submit {
  text-align: center;
}

.js-valid-tip {
  margin-top: 5px;
  font-size: 12px;
  color: #f44821;
  .icon {
    margin-right: 3px;
    vertical-align: middle\0; // hack for IE8
  }
}
