.ui-footer {
  width: 100%;
  background-color: #cecece;

  .footer-inner {
    width: 1080px;
    height: 75px;
    line-height: 2;
    margin: 0 auto;
    padding-top: 43px;

    .footer-links, .footer-contact {
      display: block;
      text-align: center;
      li {
        display: inline-block;
        &.split {
          padding: 0 3px;
        }
        a {
          color: #333;
        }
      }
    }

  }
}
