---
layout: page
title: 年级管理
class: grade
---


  {% include sidebar.liquid %}

  <div class="main">
    <div class="main-header">
      <i class="iconfont icon-branch"></i>
      <div class="title-module">
        <span>年级管理</span>
      </div>

      <!-- <div class="control"> -->
        <button class="btn-primary btn-add add-grade" id="addGrade">+ 新增年级</button>
      <!-- </div> -->

    </div>

    <div class="main-list datatable-box">
      <table id="gradesTable" class="display sis-table" cellpadding="0" cellspacing="0" width="100%">
        <thead></thead>
        <tbody class="tb-tbody"></tbody>
      </table>
    </div>

    {% include backError.liquid %}
  </div>

<script type="text/javascript">
 var addWin = '<div id="addGradeForm">'+
    '<div class="fill-group error-content"></div>'+
    '<div class="fill-group">'+
    '<label for="schoolYear" class="label">学年</label>'+
    '<div class="control">'+
    '<input type="text" class="input school-year" id="schoolYear" placeholder="" autofocus required="required">'+
    '<span class="error-info year-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="classNumber" class="label">班级数</label>'+
    '<div class="control">'+
    '<input type="text" class="input class-number" id="classNumber" placeholder="">'+
    '<span class="error-info class-error"></span>'+
    '</div>'+
    '</div>'+
    '</div>';
</script>


<script type="text/javascript" src="../js/dev/grade.js"></script>
