---
layout: page
title: 导入学生
class: input
---


{% include sidebar.liquid %}

<div class="main">
  <div class="main-header">
    <i class="iconfont icon-branch"></i>
    <div class="title-module">
      <a href="grade.html" class="last-item">年级管理</a><span class="last-item">&nbsp;/&nbsp;</span><span class="bread-title">导入学生</span>
    </div>

    <button class="btn-primary btn-add add-grade" id="addStudents">+ 添加全部学生</button>

  </div>

  <div class="main-list datatable-box">
  <form id="uploadForm" enctype="multipart/form-data" style="margin-bottom: 25px;">
    <input id="file" type="file" name="file"/>
    <button id="upload" class="btn-primary btn-low" type="button">上传</button>
  </form>

    <table id="inputTable" class="display sis-table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>班级号</th>
          <th>学籍号</th>
          <th>学号</th>
          <th>用户名</th>
          <th>姓名</th>
        </tr>
      </thead>
      <tbody class="tb-tbody"></tbody>
    </table>
  </div>

  {% include backError.liquid %}
</div>

<script type="text/javascript" src="../js/dev/input.js"></script>

