---
layout: page
title: 课程表
class: schedule
---


  {% include sidebar.liquid %}

  <div class="main">
    <div class="main-header">
      <i class="iconfont icon-branch"></i>
      <div class="title-module">
        <a href="grade.html" class="last-item">年级管理</a><span class="last-item">&nbsp;/&nbsp;</span><a class="last-item sec-item"></a><span class="last-item">&nbsp;/&nbsp;</span><span class="bread-title"></span>
      </div>

      <!-- div class="control"> -->
        <!-- <button class="btn-primary btn-add add-grade" id="saveSchedule">保存</button> -->
      <!-- </div> -->

    </div>

    <div class="main-list datatable-box">
      {% include schedule.liquid %}

      <!-- <ul>
      <li>节次\星期</li>
      <li>星期一</li>
      <li>星期二</li>
      <li>星期三</li>
      <li>星期四</li>
      <li>星期五</li>
      <li class="border-r">星期六</li>

      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point1">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point3">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point4">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul>
        <li>--</li>
        <li>--</li>
        <li>--</li>
        <li>--</li>
        <li>--</li>
        <li>--</li>
        <li class="border-r">--</li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point5">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point6">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point7">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="border-r"></li>
      </ul>
      <div style="clear:both; float:none;"></div>
      <ul name="point8">
        <li class="border-b"></li>
        <li class="border-b"></li>
        <li class="border-b"></li>
        <li class="border-b"></li>
        <li class="border-b"></li>
        <li class="border-b"></li>
        <li class="border-l"></li>
      </ul>
      <div style="clear:both; float:none;"></div> -->
    </div>

    {% include backError.liquid %}
  </div>

  <script type="text/javascript" src="../js/dev/schedule.js"></script>

