---
layout: page
title: 学生管理
class: student
---


  {% include sidebar.liquid %}

  <div class="main">
    <div class="main-header">
      <i class="iconfont icon-branch"></i>
      <div class="title-module">
        <a href="grade.html" class="last-item">年级管理</a><span class="last-item">&nbsp;/&nbsp;</span><a class="last-item sec-item"></a><span class="last-item">&nbsp;/&nbsp;</span><span class="bread-title">学生管理</span>
      </div>

      <!-- <div class="control"> -->
        <button class="btn-primary btn-add add-grade" id="addStudent">+ 新增学生</button>
      <!-- </div> -->

    </div>

    <div class="main-list datatable-box">
      <table id="classmatesTable" class="display sis-table" cellpadding="0" cellspacing="0">
        <thead></thead>
        <tbody class="tb-tbody"></tbody>
      </table>
    </div>

    {% include backError.liquid %}
  </div>

<script type="text/javascript">
 var addClassmate = '<div id="addClassmateForm">'+
    '<div class="fill-group error-content"></div>'+
    '<div class="fill-group">'+
    '<label for="studentCode" class="label">学籍号</label>'+
    '<div class="control">'+
    '<input type="text" class="input student-code" id="studentCode" autofocus>'+
    '<span class="error-info code-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="studentNo" class="label">学号</label>'+
    '<div class="control">'+
    '<input type="text" class="input studentno" id="studentNo">'+
    '<span class="error-info studentno-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="userName" class="label">用户名</label>'+
    '<div class="control">'+
    '<input type="text" class="input username" id="userName">'+
    '<span class="error-info username-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="fullName" class="label">姓名</label>'+
    '<div class="control">'+
    '<input type="text" class="input teacher-name" id="fullName" placeholder="">'+
    '<span class="error-info name-error"></span>'+
    '</div>'+
    '</div>'+
    '</div>';
</script>


<script type="text/javascript" src="../js/dev/student.js"></script>
