---
layout: page
title: 科目管理
class: subject
---

{% include sidebar.liquid %}

<div class="main">
  <div class="main-header">
      <i class="iconfont icon-branch"></i>
      <div class="title-module">
        <span class="bread-title">科目管理</span>
      </div>

      <!-- <div class="control"> -->
        <button class="btn-primary btn-add add-grade" id="addSubject">+ 新增科目</button>
      <!-- </div> -->

    </div>
    <div class="main-list datatable-box">
      <table id="subjectsTable" class="display sis-table" cellpadding="0" cellspacing="0">
        <thead></thead>
        <tbody class="tb-tbody"></tbody>
      </table>
    </div>
  {% include backError.liquid %}
</div>
<script type="text/javascript">
 var addSubject = '<div id="addSubjectForm">'+
    '<div class="fill-group error-content"></div>'+
    '<div class="fill-group">'+
    '<label for="subjectCode" class="label">学科编码</label>'+
    '<div class="control">'+
    '<input type="text" class="input subject-code" id="subjectCode" autofocus placeholder="">'+
    '<span class="error-info code-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="subjectName" class="label">学科名称</label>'+
    '<div class="control">'+
    '<input type="text" class="input subject-name" id="subjectName" placeholder="">'+
    '<span class="error-info name-error"></span>'+
    '</div>'+
    '</div>'+

    '</div>';
</script>

<script type="text/javascript" src="../js/dev/subject.js"></script>
