---
layout: page
title: 老师管理
class: teacher
---


  {% include sidebar.liquid %}

  <div class="main">
    <div class="main-header">
      <i class="iconfont icon-branch"></i>
      <div class="title-module">
        <span class="bread-title">老师管理</span>
      </div>

      <!-- <div class="control"> -->
        <button class="btn-primary btn-add add-grade" id="addTeacher">+ 新增老师</button>
      <!-- </div> -->

    </div>

    <div class="main-list datatable-box">
      <table id="teachersTable" class="display sis-table" cellpadding="0" cellspacing="0">
        <thead></thead>
        <tbody class="tb-tbody"></tbody>
      </table>
    </div>

    {% include backError.liquid %}
  </div>

<script type="text/javascript">
 var addTeacher = '<div id="addTeacherForm">'+
    '<div class="fill-group error-content"></div>'+
    '<div class="fill-group">'+
    '<label for="teacherCode" class="label">教师资格证号</label>'+
    '<div class="control">'+
    '<input type="text" class="input teacher-code" id="teacherCode" autofocus placeholder="">'+
    '<span class="error-info code-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="teacherNo" class="label">教师编号</label>'+
    '<div class="control">'+
    '<input type="text" class="input teacher-no" id="teacherNo" placeholder="">'+
    '<span class="error-info no-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="userName" class="label">用户名</label>'+
    '<div class="control">'+
    '<input type="text" class="input username" id="userName" placeholder="" required="required">'+
    '<span class="error-info username-error"></span>'+
    '</div>'+
    '</div>'+

    '<div class="fill-group">'+
    '<label for="fullName" class="label">姓名</label>'+
    '<div class="control">'+
    '<input type="text" class="input teacher-name" id="fullName" placeholder="">'+
    '<span class="error-info name-error"></span>'+
    '</div>'+
    '</div>'+

    '</div>';
</script>


<script type="text/javascript" src="../js/dev/teacher.js"></script>
